.custom-button {
  background-color: black;
  color: white;
  width: 175px;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 8px;
  border: none;
  outline: none;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

.custom-button:hover {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

#sign-in-with-google {
  background-color: rgb(20, 142, 212);
  color: white;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 8px;
  margin-left: 10px;
  border: none;
  outline: none;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

#sign-in-with-google:hover {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}
